<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Cadastro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Nome input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" id="registerName" class="form-control form-control-sm" placeholder="Nome" />
                    </div>

                    <!-- Email input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" id="registerEmail" class="form-control form-control-sm"
                            placeholder="Email" />
                    </div>

                    <!-- Telefone input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        <input type="tel" id="registerPhone" class="form-control form-control-sm"
                            placeholder="Telefone" />
                    </div>

                    <!-- Password input com ícone e botão de mostrar/ocultar -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" id="registerPassword" class="form-control form-control-sm"
                            placeholder="Senha" />
                        <button class="btn btn-outline-secondary" type="button" id="toggleRegisterPassword">
                            <i class="fas fa-eye" id="registerEyeIcon"></i>
                        </button>
                    </div>

                    <!-- Confirmar Password input com ícone e botão de mostrar/ocultar -->
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" id="registerConfirmPassword" class="form-control form-control-sm"
                            placeholder="Confirmar Senha" />
                        <button class="btn btn-outline-secondary" type="button" id="toggleRegisterConfirmPassword">
                            <i class="fas fa-eye" id="registerConfirmEyeIcon"></i>
                        </button>
                    </div>

                    <!-- Btn Cadastrar -->
                    <button type="button" class="my-c-btnCadastrar">CADASTRAR</button> <hr>

                    <!-- Já é membro -->
                    <div class="text-center">
                        <p class="mb-1">Ainda não tem conta? 
                            <a class="my-c-cliqueAqui" href="#" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal"> Clique aqui</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>