<div class="my-m-efeito">
    <div class="container">
        <div class="navbar navbar-expand-lg bg-body-tertiary my-m-navbar">
            <div class="container-fluid">

                <!-- Logo -->
                <a class="navbar-brand" href="#"><img class="my-m-logo" src="../../media/img/global/logo.png"
                        alt=""></a>

                <!-- Responsividade -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="my-m-links" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="my-m-links" aria-current="page" href="#">História</a></li>
                        <li class="nav-item"><a class="my-m-links" aria-current="page" href="#">Doação</a></li>
                        <li class="nav-item"><a class="my-m-links" aria-current="page" href="#">Petição</a></li>
                        <li class="nav-item"><a class="my-m-links" aria-current="page" href="#">Parcerias</a></li>
                        <li class="nav-item"><a class="my-m-links" aria-current="page" href="#">Loja</a></li>
                        <li class="nav-item"><a class="my-m-links" aria-current="page" href="#">Contato</a></li>

                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle my-m-links" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Divulgação</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item my-m-links" href="#">Eventos</a></li>
                                <li><a class="dropdown-item my-m-links" href="#">Notícias</a></li>
                                <li><a class="dropdown-item my-m-links" href="#">Reportagens</a></li>
                                <li><a class="dropdown-item my-m-links" href="#">Trabalhos Acadêmicos</a></li>
                            </ul>
                        </li>

                        <!-- Botão Admin (oculto por padrão) -->
                        <li id="adminButton" style="display: none;">
                            <a class="my-m-btnAdm" href="#">
                                <i class="fa-solid fa-cog" title="administrador"></i>
                            </a>
                        </li>
                    </ul>
                    <br>

                    <!-- Btn Login -->
                    <a href="#" class="my-m-btnLogin" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i class="fa-solid fa-user"></i> Login
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>