/* prefixo: my-rs */

.my-rs-btnRecuperarSenha{
    width: 100%;
    background-color: var(--cor-verdeBotao);
    color: var(--cor-branco);
    box-shadow: var(--sombra-preta);
    padding: 5px;
    border-radius: 10px;

}
.my-rs-btnRecuperarSenha:hover{
    opacity: 90%;
}


.my-rs-cliqueAqui{
    color: var(--cor-verdeLink);
    text-decoration: none;
}
.my-rs-cliqueAqui:hover{
    color: var(--cor-verdeLink);
    text-decoration: underline;
}